<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <title>Document</title>
</head>
<body>
    <header>
        <section>
            <nav class="navbar">
                <div class="logo-container">
                    <img src="https://sarel.cdn.prismic.io/sarel/813ae43a-512d-485c-a83d-54e5312de94c_Tourslogo-whitegold.svg" alt="sarel-logo">
                </div>
                <ul class="navbar-links">
                    <li><a href="">CONTACT</a></li>
                    <li><a href="">ABOUT</a></li>
                    <li><a href="">HOME</a></li>
                </ul>
            </nav>
            <div class="background-video">
                <video src="/misc/background-video.mp4" autoplay muted loop></video>
            </div>
            <div class="banner">
                <div class="banner-content">
                    <h1>Welcome to <span>Sar-El</span> Group</h1>
                    <p> 
                        We are grateful to you our partners and guests who have helped us become the worldwide leader in incoming tourism to Israel! 
                        With 20 years of serving the world, our unique ability sets us apart from others.
                        <span>
                            - Blessings,
                            Samuel Smadja
                        </span>
                    </p>
                </div>
            </div>
        </section>
        <section class="phrase-links">
            <div class="re-links">
                <ul>
                    <li><a href="">Sar-El Tours & Conferences</a></li>
                    <li><a href="">Sar-El Media & Production</a></li>
                    <li><a href="">Sar-El Properties & Construcion</a></li>
                    <li><a href="">Sar-El Hotels</a></li>
                    <li><a href="">Travel Composer</a></li>
                    <li><a href="">Sar-El Market</a></li>
                    <li><a href="">Sar-El Transportation</a></li>
                </ul>
            </div>
            <div class="phrase-container">
                <h2>"Serving God's People all Over the World"</h2>
                <i class="fa-solid fa-hotel"></i>
            </div>
        </section>
    </header>

    <script src="/js/script.js"></script>
</body>
</html>