<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <script src="/particles.js-2.0.0/particles.js"></script>
    <script>history.scrollRestoration = "manual"</script>
    <title>Document</title>
</head>
<body>
    <header>
        <section>
            <nav class="navbar">
                <div class="logo-container">
                    <img src="https://sarel.cdn.prismic.io/sarel/813ae43a-512d-485c-a83d-54e5312de94c_Tourslogo-whitegold.svg" alt="sarel-logo">
                </div>
                <ul class="navbar-links">
                    <li><a href="">CONTACT</a></li>
                    <li><a href="">NEWS</a></li>
                    <li><a href="">OUR BRANDS</a></li>
                    <li><a href="">SERVICES & CONNECTIONS</a></li>
                    <li><a href="">ABOUT</a></li>
                    <li><a href="">HOME</a></li>
                </ul>
            </nav>
            <div class="background-video">
                <video src="/misc/background-video.mp4" autoplay muted loop></video>
            </div>
            <div class="banner">
                <div class="banner-content">
                    <h1>ENDLESS GROWTH <span>OPPORTUNITIES</span></h1>
                    <p> 
                        Personal Development, Investment, and Recreation in the Holy Land
                    </p>
                </div>
            </div>
        </section>
        <section class="phrase-links">
            <div id="particles-js">
                <div class="phrase-container">
                    <h2>"Serving God's People all Over the World"</h2>
                    <i class="fa-solid fa-hotel"></i>
                </div>
                <div class="text-container">
                    <div class="text-container-child">
                        <div class="who-are-we">
                            <h3>Our Vision</h3>
                            <p>
                                No other place on earth offers such rich and diverse opportunities as does the State of Israel. A start-up nation to its core, 
                                you quickly discover that innovation, passion, and creativity typify business and travel opportunities in Israel. Sar-El Group, 
                                a leader in these markets, is best positioned to introduce you to endless opportunities for personal enrichment and return-on-investment 
                                in Israel’s cutting-edge and developing industries.
                            </p>
                        </div>
                        <div class="text-logo">
                            <img src="http://logosvg.com/wp-content/uploads/Chick-fil-A_logo.svg" alt="logo">
                        </div>
                    </div>
                    <div class="text-container-child">
                        <div class="our-mission">
                            <h3>Our Story</h3>
                            <p>
                                Launched 30 years ago in Jerusalem by Samuel and Susan Smadja as a single office Travel Agency, 
                                Sar-El Group has grown to become a (מגוון) group of companies, interrelated and coordinated to produce perfect business solutions 
                                for its clients and partners. The Group offers all-inclusive travel services as well as business and investment opportunities 
                                for domestic and international parties, spanning tours operation (DMC and online), media & event production, hotels, transportation, 
                                restaurants, VIP services, real estate, education, and more. 
                            </p>
                        </div>
                        <div class="our-vision">
                            <h3>Our Future</h3>
                            <p>
                                Having served more than one million customers from thousands of travel agencies and Christian organizations 
                                from around the globe, Sar-El Tours & Conferences has gained an impeccable reputation for its professional, 
                                reliable, and innovative business solutions.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="comapnies-brands">
                <h2>Our Companies & brands</h2>
            </div>
            <div class="div-links">
                <div class="box-link one">
                    <div class="card">
                        <div class="card__content">
                          
                          <div class="card__front">
                            <h3 class="card__title">Sar-El</h3>
                            <p class="card__subtitle">Tours & Conferences</p>
                          </div> 
                          
                          <div class="card__back">
                            <p class="card__body">coordinates the services of hundreds of professional Travel Consultants and Tour Guides</p>
                          </div>
                          
                        </div>
                    </div>
                </div>
                <div class="box-link two">
                    <div class="card">
                        <div class="card__content">
                          
                          <div class="card__front">
                            <h3 class="card__title">Sar-El</h3>
                            <p class="card__subtitle">Hotels</p>
                          </div> 
                          
                          <div class="card__back">
                            <p class="card__body">building and investing in new hotels at prime locations.</p>
                          </div>
                          
                        </div>
                    </div>
                </div>
                <div class="box-link three">
                    <div class="card">
                        <div class="card__content">
                          
                          <div class="card__front">
                            <h3 class="card__title">Sar-El</h3>
                            <p class="card__subtitle">Transportation</p>
                          </div> 
                          
                          <div class="card__back">
                            <p class="card__body">operating an extensive fleet of modern buses and VIP vans.</p>
                          </div>
                          
                        </div>
                    </div>
                </div>
                <div class="box-link four">
                    <div class="card">
                        <div class="card__content">
                          
                          <div class="card__front">
                            <h3 class="card__title">Sar-El</h3>
                            <p class="card__subtitle">Media & Production</p>
                          </div> 
                          
                          <div class="card__back">
                            <p class="card__body">providing state-of-the-art media & production services.</p>
                          </div>
                          
                        </div>
                    </div>
                </div>
                <div class="box-link five">
                    <div class="card">
                        <div class="card__content">
                          
                          <div class="card__front">
                            <h3 class="card__title">TBN</h3>
                            <p class="card__subtitle">Israel</p>
                          </div> 
                          
                          <div class="card__back">
                            <p class="card__body">Without text</p>
                          </div>
                          
                        </div>
                    </div>
                </div>
                <div class="box-link six">
                    <div class="card">
                        <div class="card__content">
                          
                          <div class="card__front">
                            <h3 class="card__title">TBN</h3>
                            <p class="card__subtitle">France</p>
                          </div> 
                          
                          <div class="card__back">
                            <p class="card__body">Without text</p>
                          </div>
                          
                        </div>
                    </div>
                </div>
                <div class="box-link seven">
                    <div class="card">
                        <div class="card__content">
                          
                          <div class="card__front">
                            <h3 class="card__title">Sar-El</h3>
                            <p class="card__subtitle">Online</p>
                          </div> 
                          
                          <div class="card__back">
                            <p class="card__body">Online tourism booking system</p>
                          </div>
                          
                        </div>
                    </div>
                </div>
                <div class="box-link eight">
                    <div class="card">
                        <div class="card__content">
                          
                          <div class="card__front">
                            <h3 class="card__title">Travel</h3>
                            <p class="card__subtitle">Composer</p>
                          </div> 
                          
                          <div class="card__back">
                            <p class="card__body">Luxury Travel</p>
                          </div>
                          
                        </div>
                    </div>
                </div>
                <div class="box-link nine">
                    <div class="card">
                        <div class="card__content">
                          
                          <div class="card__front">
                            <h3 class="card__title">Sar-El</h3>
                            <p class="card__subtitle">Markets</p>
                          </div> 
                          
                          <div class="card__back">
                            <p class="card__body">operating multiple restaurants.</p>
                          </div>
                          
                        </div>
                    </div>
                </div>
                <div class="box-link ten">
                    <div class="card">
                        <div class="card__content">
                          
                          <div class="card__front">
                            <h3 class="card__title">David’s Harp</h3>
                            <p class="card__subtitle">on the Water</p>
                          </div> 
                          
                          <div class="card__back">
                            <p class="card__body">quality cuisine on the northern shore of the Sea of Galilee.</p>
                          </div>
                          
                        </div>
                    </div>
                </div>
                <div class="box-link eleven">
                    <div class="card">
                        <div class="card__content">
                          
                          <div class="card__front">
                            <h3 class="card__title">El-Ram</h3>
                            <p class="card__subtitle">Real Estate</p>
                          </div> 
                          
                          <div class="card__back">
                            <p class="card__body">Without text</p>
                          </div>
                          
                        </div>
                    </div>
                </div>
                <div class="box-link twelve">
                    <div class="card">
                        <div class="card__content">
                          
                          <div class="card__front">
                            <h3 class="card__title">Sar-El</h3>
                            <p class="card__subtitle">Academy</p>
                          </div> 
                          
                          <div class="card__back">
                            <p class="card__body">creating complimentary educational content for our clients.</p>
                          </div>
                          
                        </div>
                    </div>
                </div>
                <div class="box-link thirteen">
                    <div class="card">
                        <div class="card__content">
                          
                          <div class="card__front">
                            <h3 class="card__title">Sar-El</h3>
                            <p class="card__subtitle">Adventures</p>
                          </div> 
                          
                          <div class="card__back">
                            <p class="card__body">Coming soon!</p>
                          </div>
                          
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </header>
    <section>
        <div class="fill-dead"></div>
        <div class="thank-you">
            <div class="thank-you-content">
                <p>
                    The benefits of working with Sar-El Group of companies are measured in higher quality, lower costs, 
                    and greater opportunity for you and your operation. In-depth insights are available <a href="https://sareltours.com">here</a>, 
                    and please contact us with any inquiry. 
                </p>
                <br>
                <p>
                    Thank You!
                </p>
            </div>
        </div>
        <!-- <div class=""></div> -->
        <div class="footer">
            <div class="footer-links">
                <div class="footer-page-links">
                    <ul>
                        <li><a href="">About Us</a></li>
                        <li><a href="">Contact Us</a></li>
                    </ul>
                </div>
                <div class="footer-web-links">
                    <ul>
                        <li><a href="">Sar-El Tours & Conferences</a></li>
                        <li><a href="">Sar-El Media & Production</a></li>
                        <li><a href="">Sar-El Properties & Construcion</a></li>
                        <li><a href="">Sar-El Hotels</a></li>
                        <li><a href="">Travel Composer</a></li>
                        <li><a href="">David's Harp Hotel</a></li>
                        <li><a href="">Hotel Reiss</a></li>
                        <li><a href="">Malcha Market</a></li>
                    </ul>
                </div>
                <div class="footer-information">
                    <ul>
                        <li>SAR-EL TOURS & CONFERENCES:</li>
                        <li>5 HaHoshen St.</li>
                        <li>Mevaseret Zion 90805</li>
                        <li>ISRAEL</li>
                        <li>Tel: +972-2-533-8000</li>
                        <li>E-mail: sarel@sarel.group</li>
                    </ul>
                </div>
                <div class="footer-logo">
                    <img src="http://www.sarel.group/wp-content/uploads/2017/04/Footer_coin_Messianic.png" alt="">
                </div>
            </div>
            <div class="footer-copyright">
                <p>Copyright © 2021 Sar-El Group, Israel. All rights reserved.</p>
            </div>
        </div>
    </section>
    <script src="/js/app.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>