<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <script src="/particles.js-2.0.0/particles.js"></script>
    <script>history.scrollRestoration = "manual"</script>
    <title>Document</title>
</head>
<body>
    <header>
        <section>
            <nav class="navbar">
                <div class="logo-container">
                    <img src="https://sarel.cdn.prismic.io/sarel/813ae43a-512d-485c-a83d-54e5312de94c_Tourslogo-whitegold.svg" alt="sarel-logo">
                </div>
                <ul class="navbar-links">
                    <li><a href="">CONTACT</a></li>
                    <li><a href="">ABOUT</a></li>
                    <li><a href="">HOME</a></li>
                </ul>
            </nav>
            <div class="background-video">
                <video src="/misc/background-video.mp4" autoplay muted loop></video>
            </div>
            <div class="banner">
                <div class="banner-content">
                    <h1>Welcome to <span>Sar-El</span> Group</h1>
                    <p> 
                        We are grateful to you our partners and guests who have helped us become the worldwide leader in incoming tourism to Israel! 
                        With 20 years of serving the world, our unique ability sets us apart from others.
                        <span>
                            - Blessings,
                            Samuel Smadja
                        </span>
                    </p>
                </div>
            </div>
        </section>
        <section class="phrase-links">
            <div id="particles-js">
                <div class="phrase-container">
                    <h2>"Serving God's People all Over the World"</h2>
                    <i class="fa-solid fa-hotel"></i>
                </div>
                <div class="text-container">
                    <div class="text-container-child">
                        <div class="who-are-we">
                            <h3>Who Are We</h3>
                            <p>
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                                Quisquam aspernatur, consequatur iure ipsam libero enim nemo animi esse itaque quo asperiores modi, 
                                sapiente veniam quia harum nostrum quae ipsa cumque?
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, iste in mollitia, 
                                quos odit quia aperiam nemo beatae veritatis corporis qui veniam obcaecati fuga incidunt maxime quod earum, 
                                reiciendis rerum!
                                Debitis, laudantium! A totam, dolor ex fugit eaque nesciunt molestiae maxime ea perspiciatis consequuntur consectetur 
                                repellendus, velit quae ab architecto sapiente officia quaerat ratione est unde, tempora debitis modi similique!
                            </p>
                        </div>
                        <div class="text-logo">
                            <img src="http://logosvg.com/wp-content/uploads/Chick-fil-A_logo.svg" alt="logo">
                        </div>
                    </div>
                    <div class="text-container-child">
                        <div class="our-mission">
                            <h3>Our Mission</h3>
                            <p>
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                                Quisquam aspernatur, consequatur iure ipsam libero enim nemo animi esse itaque quo asperiores modi, 
                                sapiente veniam quia harum nostrum quae ipsa cumque?
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, iste in mollitia, 
                                quos odit quia aperiam nemo beatae veritatis corporis qui veniam obcaecati fuga incidunt maxime quod earum, 
                                reiciendis rerum!   
                            </p>
                        </div>
                        <div class="our-vision">
                            <h3>Our Vision</h3>
                            <p>
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                                Quisquam aspernatur, consequatur iure ipsam libero enim nemo animi esse itaque quo asperiores modi, 
                                sapiente veniam quia harum nostrum quae ipsa cumque?
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="div-links">
                <div class="box-link one">
                    <img src="http://www.sarel.group/wp-content/uploads/2017/04/SG_ST_icon.png" alt="">
                </div>
                <div class="box-link two">
                    <img src="http://www.sarel.group/wp-content/uploads/2017/04/SG_SMedia_icon.png" alt="">
                </div>
                <div class="box-link three">
                    <img src="http://www.sarel.group/wp-content/uploads/2017/04/SG_SP_C_icon.png" alt="">
                </div>
                <div class="box-link four">
                    <img src="http://www.sarel.group/wp-content/uploads/2018/08/logos_srl_hotels_3.png" alt="">
                </div>
                <div class="box-link five">
                    <img src="http://www.sarel.group/wp-content/uploads/2018/08/logos_srl_travel_3.png" alt="">
                </div>
                <div class="box-link six">
                    <img src="http://www.sarel.group/wp-content/uploads/2018/12/logos_srl_market.png" alt="">
                </div>
                <div class="box-link seven">
                    <img src="http://www.sarel.group/wp-content/uploads/2019/02/logos_srl_transp2.png" alt="">
                </div>
            </div>
        </section>
    </header>
    <section>
        <div class="fill-dead"></div>
        <div class="footer">
            <div class="footer-links">
                <div class="footer-page-links">
                    <ul>
                        <li><a href="">About Us</a></li>
                        <li><a href="">Contact Us</a></li>
                    </ul>
                </div>
                <div class="footer-web-links">
                    <ul>
                        <li><a href="">Sar-El Tours & Conferences</a></li>
                        <li><a href="">Sar-El Media & Production</a></li>
                        <li><a href="">Sar-El Properties & Construcion</a></li>
                        <li><a href="">Sar-El Hotels</a></li>
                        <li><a href="">Travel Composer</a></li>
                        <li><a href="">David's Harp Hotel</a></li>
                        <li><a href="">Hotel Reiss</a></li>
                        <li><a href="">Malcha Market</a></li>
                    </ul>
                </div>
                <div class="footer-information">
                    <ul>
                        <li>SAR-EL TOURS & CONFERENCES:</li>
                        <li>5 HaHoshen St.</li>
                        <li>Mevaseret Zion 90805</li>
                        <li>ISRAEL</li>
                        <li>Tel: +972-2-533-8000</li>
                        <li>E-mail: sarel@sarel.group</li>
                    </ul>
                </div>
                <div class="footer-logo">
                    <img src="http://www.sarel.group/wp-content/uploads/2017/04/Footer_coin_Messianic.png" alt="">
                </div>
            </div>
            <div class="footer-copyright">
                <p>Copyright © 2021 Sar-El Group, Israel. All rights reserved.</p>
            </div>
        </div>
    </section>
    <script src="/js/app.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>