/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* css reset */

body {
  font-family: "Merriweather", serif;
  margin: 0;
  background: #ececec;
}

/* navbar */

.navbar {
  width: 100%;
  /* border: 1px solid black; */
  position: fixed;
  display: flex;
  flex-direction: row;
  z-index: 1;
  transition: all 300ms ease-in;
}

.navbar-scroll {
  background: #ececec;
  height: 10vh;
  box-shadow: 1px 1px 13px black;
}

.navbar-scroll .navbar-links a {
  color: #07002e;
}

.navbar-scroll .navbar-links a:hover {
  color: #160094;
}

.logo-container {
  /* border: 1px solid red; */
  width: 26vh;
  padding: 12px 8px;
}

.navbar-links {
  /* border: 1px solid blue; */
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.navbar-links li {
  /* border: 1px solid pink; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar-links a {
  /* border: 1px solid green; */
  padding: 12px 16px;
  text-decoration: none;
  color: #fff;
}

.navbar-links a:hover {
  color: #d3d3d3;
}

/* video */

.background-video video {
  width: 100%;
}

/* banner */

.banner {
  position: absolute;
  /* border: 1px solid yellow; */
  top: 35%;
  left: 25%;
  width: 50%;
}

.banner-content {
  width: 100%;
  height: 100%;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.banner-content h1 {
  font-size: 2.6em;
}

.banner-content span {
  border-bottom: 1px solid gold;
}

.banner-content p span {
  /* border: 1px solid blue; */
  display: block;
  font-weight: 600;
}

.banner-content p {
  text-align: center;
  font-size: 1.8em;
  line-height: 1.6;
  font-style: italic;
}

/* phrase & links */

/* particles */

.phrase-links {
  position: relative;
  /* border: 1px solid sandybrown; */
}

#particles-js {
  width: 100%;
  height: 300vh;
  /* border: 1px solid salmon; */
  background: #ececec;
  position: absolute;
}

.phrase-container {
  position: absolute;
  width: 100%;
  text-align: center;
  /* border: 1px solid black; */
  padding: 62px 0;
  margin-top: 2em;
}

.phrase-container h2 {
  font-size: 1.8em;
  font-style: italic;
  font-weight: 700;
}

.re-links ul {
  /* border: 1px solid salmon; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.re-links ul li {
  /* border: 1px solid blueviolet; */
  margin: 12px 0;
  padding: 12px 8px;
}

/* text container */

.text-container {
  width: 75%;
  /* border: 1px solid seagreen; */
  position: absolute;
  margin-top: 16em;
  display: flex;
  flex-direction: column;
  left: 15%;
  padding: 12px 8px;
}

.text-container p {
  line-height: 1.6em;
  padding: 12px 8px;
  font-size: 0.95em;
  color: #07002f;
}

.text-container h3 {
  padding: 16px 8px;
  font-size: 2em;
  color: #07002e;
  font-weight: 700;
}

.who-are-we {
  /* border: 1px solid blueviolet; */
  order: 1;
  width: 25vw;
  flex-grow: 4;
}

.text-logo {
  /* border: 1px solid red; */
  order: 1;
  width: 25vw;
}

.text-logo img {
  width: 100%;
}

.our-mission {
  /* border: 1px solid wheat; */
  order: 2;
}

.our-vision {
  /* border: 1px solid indianred; */
  order: 2;
}

.text-container-child {
  /* border: 1px solid yellow; */
  display: flex;
  flex-direction: row;
}

/* div links */

.div-links {
  position: absolute;
  /* border: 1px solid hotpink; */
  width: 100%;
  top: 120vh;
  /* background: indigo; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px 20px;
  grid-template-areas:
    ". one two three ."
    ". four five six ."
    ". seven eight nine ."
    ". ten eleven twelve ."
    ". thirteen fourteen fifteen .";
}
.one {
  grid-area: one;
}
.two {
  grid-area: two;
}
.three {
  grid-area: three;
}
.four {
  grid-area: four;
}
.five {
  grid-area: five;
}
.six {
  grid-area: six;
}
.seven {
  grid-area: seven;
}
.eight {
  grid-area: eight;
}
.nine {
  grid-area: nine;
}
.ten {
  grid-area: ten;
}
.eleven {
  grid-area: eleven;
}
.twelve {
  grid-area: twelve;
}
.thirteen {
  grid-area: thirteen;
}
.fourteen {
  grid-area: fourteen;
}
.fifteen {
  grid-area: fifteen;
}

.box-link {
  background: #e7e7e7;
  /* border: 1px solid black; */
  text-align: center;
}

.box-link p {
  margin-top: 30%;
}

.box-link img {
  /* margin-top: 12px; */
  width: 70%;
  /* border: 1px solid black; */
  -webkit-box-shadow: 0px 7px 13px -7px #000000;
  box-shadow: 0px 7px 13px -7px #000000;
  transition: transform 1s;
}

.box-link img:hover {
  transform: scale(1.04);
}

.fill-dead {
  width: 100%;
  height: 300vh;
  background: #ececec;
}

.footer {
  width: 100%;
  height: 60vh;
  background: #1d1d1d;
  display: flex;
  flex-direction: column;
  /* border: 1px solid green; */
}

.footer a,
li {
  text-decoration: none;
  color: white;
  margin: 12px 0;
}

.footer-links {
  display: flex;
  flex-direction: row;
  width: 85%;
  margin: 0 auto;
}

.footer-links div {
  width: 100%;
  /* border: 1px solid white; */
  margin: 16px 18px;
}

.footer-copyright {
  /* border: 1px solid white; */
  text-align: center;
  color: white;
  margin-top: 20px;
}
