/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* css reset */

body {
  font-family: "Merriweather", serif;
  margin: 0;
  background: #ececec;
}

/* navbar */

.navbar {
  width: 100%;
  /* border: 1px solid black; */
  position: fixed;
  display: flex;
  flex-direction: row;
  z-index: 1;
  transition: all 300ms ease-in;
}

.navbar-scroll {
  background: #ececec;
  height: 10vh;
  box-shadow: 1px 1px 13px black;
}

.navbar-scroll .navbar-links a {
  color: #07002e;
}

.navbar-scroll .navbar-links a:hover {
  color: #160094;
}

.logo-container {
  /* border: 1px solid red; */
  width: 26vh;
  padding: 12px 8px;
}

.navbar-links {
  /* border: 1px solid blue; */
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.navbar-links li {
  /* border: 1px solid pink; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar-links a {
  /* border: 1px solid green; */
  padding: 12px 16px;
  text-decoration: none;
  color: #fff;
}

.navbar-links a:hover {
  color: #d3d3d3;
}

/* video */

.background-video video {
  width: 100%;
}

/* banner */

.banner {
  position: absolute;
  /* border: 1px solid yellow; */
  top: 35%;
  left: 25%;
  width: 50%;
}

.banner-content {
  width: 100%;
  height: 100%;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.banner-content h1 {
  font-size: 2.6em;
}

.banner-content span {
  border-bottom: 1px solid gold;
}

.banner-content p span {
  /* border: 1px solid blue; */
  display: block;
  font-weight: 600;
}

.banner-content p {
  text-align: center;
  font-size: 1.8em;
  line-height: 1.6;
  font-style: italic;
}

/* phrase & links */

/* particles */

.phrase-links {
  position: relative;
  /* border: 1px solid sandybrown; */
}

#particles-js {
  width: 100%;
  height: 150vw;
  /* border: 1px solid salmon; */
  background: #ececec;
  position: absolute;
}

.phrase-container {
  position: absolute;
  width: 100%;
  text-align: center;
  /* border: 1px solid black; */
  padding: 62px 0;
  margin-top: 2em;
}

.phrase-container h2 {
  font-size: 1.8em;
  font-style: italic;
  font-weight: 700;
}

.re-links ul {
  /* border: 1px solid salmon; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.re-links ul li {
  /* border: 1px solid blueviolet; */
  margin: 12px 0;
  padding: 12px 8px;
}

/* text container */

.text-container {
  width: 75%;
  /* border: 1px solid seagreen; */
  position: absolute;
  margin-top: 16em;
  display: flex;
  flex-direction: column;
  left: 15%;
  padding: 12px 8px;
}

.text-container p {
  line-height: 1.6em;
  padding: 12px 8px;
  font-size: 0.95em;
  color: #07002f;
}

.text-container h3 {
  padding: 16px 8px;
  font-size: 2em;
  color: #07002e;
  font-weight: 700;
}

.who-are-we {
  /* border: 1px solid blueviolet; */
  order: 1;
  width: 25vw;
  flex-grow: 4;
}

.text-logo {
  /* border: 1px solid red; */
  order: 1;
  width: 25vw;
}

.text-logo img {
  width: 100%;
}

.our-mission {
  /* border: 1px solid wheat; */
  order: 2;
}

.our-vision {
  /* border: 1px solid indianred; */
  order: 2;
}

.text-container-child {
  /* border: 1px solid yellow; */
  display: flex;
  flex-direction: row;
}

.comapnies-brands {
  width: 100%;
  position: absolute;
  /* border: 1px solid red; */
  top: 58vw;
}

.comapnies-brands h2 {
  width: 90%;
  margin: 0 auto;
  font-size: 2em;
  font-weight: 700;
  padding: 12px 0;
  color: #07002e;
}

/* div links */

.div-links {
  position: absolute;
  /* border: 1px solid hotpink; */
  width: 90%;
  top: 130vh;
  /* background: indigo; */
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 15px 25px;
  grid-template-areas:
    "one two three four"
    "five six seven eight"
    "nine ten eleven twelve"
    "thirteen fourteen fifteen sixteen";
  margin-left: 5%;
}
.one {
  grid-area: one;
}
.two {
  grid-area: two;
}
.three {
  grid-area: three;
}
.four {
  grid-area: four;
}
.five {
  grid-area: five;
}
.six {
  grid-area: six;
}
.seven {
  grid-area: seven;
}
.eight {
  grid-area: eight;
}
.nine {
  grid-area: nine;
}
.ten {
  grid-area: ten;
}
.eleven {
  grid-area: eleven;
}
.twelve {
  grid-area: twelve;
}
.thirteen {
  grid-area: thirteen;
}
.fourteen {
  grid-area: fourteen;
}
.fifteen {
  grid-area: fifteen;
}
.sixteen {
  grid-area: sixteen;
}

.box-link {
  background: none;
  /* border: 1px solid black; */
  width: 25%;
  /* text-align: center; */
}

/* cards */

@import url("https://fonts.googleapis.com/css?family=Oswald:400,700");

:root {
  --level-one: translateZ(3rem);
  --level-two: translateZ(6rem);
  --level-three: translateZ(9rem);

  --fw-normal: 400;
  --fw-bold: 700;

  --clr: #b7c9e5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.card {
  width: 100%;
}

.card__content {
  text-align: center;
  position: relative;
  width: 100%;

  padding: 10em 10.5em;
  transition: transform 1s;
  /* // background: pink; */
  transform-style: preserve-3d;
}

.card:hover .card__content {
  transform: rotateY(0.5turn);
}

.card__front,
.card__back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5em 3em;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  display: grid;
  align-content: center;
}

.card__front {
  background-color: var(--clr);
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/308367/fair.jpg);
  background-size: cover;
  background-blend-mode: overlay;
  color: #333;
}

/* all them backgrounds */
.one .card__front {
  background-image: url(https://vhx.imgix.net/hillsongchannel/assets/79ddf6b7-7abe-4bc6-9120-eed3f9b8d3e9-824fb2ed.jpeg?auto=format%2Ccompress&fit=crop&h=360&q=70&w=640);
}
.two .card__front {
  background-image: url(https://pix10.agoda.net/hotelImages/65/65/65_14110716040023242511.jpg?s=1024x768);
}
.three .card__front {
  background-image: url(https://images.prismic.io/sarel/f38a6724-743c-41ea-9f10-df90199438f3_Sar-El-Buses-2.jpg?auto=compress,format);
}
.four .card__front {
  background-image: url(https://www.theblackandblue.com/wp-content/uploads/2013/10/arri_alexa_camera_on_set.jpg);
}
.five .card__front {
  background-image: url(https://i0.wp.com/www.touristisrael.com/wp-content/uploads/2020/01/210910570-4.jpg?fit=805%2C405&ssl=1);
}
.six .card__front {
  background-image: url(https://www.jpost.com//HttpHandlers/ShowImage.ashx?id=369923&w=822&h=537);
}
.seven .card__front {
  background-image: url(https://cdn.siasat.com/wp-content/uploads/2019/03/online-store.png);
}
.eight .card__front {
  background-image: url(https://media-exp1.licdn.com/dms/image/C4D1BAQGdbKYJ15kwJA/company-background_10000/0/1522064246960?e=2159024400&v=beta&t=ytQD_CbEOg_1adxtjgZpDAgO6iX2kCz8S7D8ebF-JqE);
}
.nine .card__front {
  background-image: url(https://www.linguahouse.com/linguafiles/md5/d01dfa8621f83289155a3be0970fb0cb);
}
.ten .card__front {
  background-image: url(https://fij-jw8wvr0jv.netdna-ssl.com/wp-content/uploads/2020/01/Nevel-David-26.jpg);
}
.eleven .card__front {
  background-image: url(https://www.nabasoft.com/wp-content/uploads/2016/04/real_Estate.jpg);
}
.twelve .card__front {
  background-image: url(https://images.squarespace-cdn.com/content/v1/565f0197e4b00f2eedd1f007/1449073480700-MGC2R43HJJSTYRLZ3P97/AoiToutside-1.jpg?format=2500w);
}
.thirteen .card__front {
  background-image: url(https://globalcastaway.com/wp-content/uploads/2019/11/102-amazing-adventure-quotes.jpg);
}

/* end */

.card__front::before {
  content: "";
  position: absolute;
  --spacer: 1em;
  top: var(--spacer);
  bottom: var(--spacer);
  left: var(--spacer);
  right: var(--spacer);
  border: 3px solid currentColor;
  transform: var(--level-one);
}

.card__title {
  font-size: 3rem;
  transform: var(--level-three);
  order: 2;
  text-transform: uppercase;
}

.card__subtitle {
  transform: var(--level-two);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 0.75rem;
  font-weight: var(--fw-bold);
  opacity: 0.7;
}

.card__body {
  transform: var(--level-two);
  font-weight: var(fw-normal);
  font-size: 1rem;
  line-height: 1.6;
}

.card__back {
  transform: rotateY(0.5turn);
  color: var(--clr);
  background: #333;
}

.fill-dead {
  width: 100%;
  height: 150vw;
  background: #ececec;
  /* border: 1px solid black; */
}

.thank-you {
  width: 100%;
  /* border: 1px solid red; */
  text-align: center;
}
.thank-you a {
  text-decoration: none;
}

.thank-you-content {
  width: 50%;
  margin: 0 auto;
  /* border: 1px solid black; */
  padding: 8em 10em;
  line-height: 1.6em;
  font-size: 1.1em;
}

.footer {
  width: 100%;
  height: 60vh;
  background: #1d1d1d;
  display: flex;
  flex-direction: column;
  /* border: 1px solid green; */
}

.footer a,
li {
  text-decoration: none;
  color: white;
  margin: 12px 0;
}

.footer-links {
  display: flex;
  flex-direction: row;
  width: 85%;
  margin: 0 auto;
}

.footer-links div {
  width: 100%;
  /* border: 1px solid white; */
  margin: 16px 18px;
}

.footer-copyright {
  /* border: 1px solid white; */
  text-align: center;
  color: white;
  margin-top: 20px;
}
